/* this is my stylesheet for my homepage */

/* table of contents */
/* header styles */
/* main body styles*/
/* footer styles */

h1, h6 {font-family: cursive;}

nav {}
  header{}
  header h1 {color:red; background-color: yellow;}

footer{}



* {outline: 1px solid red;
}
