/* this is my stylesheet for my homepage */


/* header styles */
h1, h6 , footer {font-family: 'Open Sans', sans-serif;}
nav { text-align: right;}
  header h1 nav h4{color: black; background-color: white;}
  a {color: #dbab27; background-color: black;}
  h5 {color: #dbab27;}
  h4 {color: #dbab27;}


  /* main body styles*/
  body {color:white; background-color: black;}



/* space between rows styles*/
  .space{ margin-bottom: 3em;}


/* image align*/
  img.align-right{
    float: right;
    margin-left: 10px;
  }
